.statistics {
  margin: auto;
  margin-bottom: 40px;
  margin-top: 70px;
  border-radius: 5px;
  background-color: rgb(226, 225, 225);
  box-shadow: 0px 1px 3px 0px rgba(191, 205, 222, 0.75);
  width: 280px;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column; 
}

.item {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(184, 184, 184);
}
.title {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.label,
.percentage {
  color: white;
}
.statList {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 0;
}